#tabeEtat {
    width: 100%;
    border: 1px solid #ccc; /* Ajout de la propriété border pour afficher les bordures */
  
    tr {
      text-align: center;
      td {
        padding: 8px;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc; /* Ajout de la propriété border-right pour afficher les bordures latérales */
      }
  
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  
    .expand-button {
      padding: 0;
      font-size: 14px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }
  
    .inner-table {
      width: 100%;
      border-collapse: collapse;
  
      th,
      td {
        padding: 8px;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc; /* Ajout de la propriété border-right pour afficher les bordures latérales */
      }
  
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
  
      .chip {
        display: inline-block;
        padding: 4px 8px;
        border-radius: 16px;
        background-color: #e0e0e0;
        color: #000;
      }
  
      .outline {
        border: 1px solid #000;
      }
    }
  }

  .inner-table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 8px;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc; /* Ajout de la propriété border-right pour afficher les bordures latérales */
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    .chip {
      display: inline-block;
      padding: 4px 8px;
      border-radius: 16px;
      background-color: #e0e0e0;
      color: #000;
    }

    .outline {
      border: 1px solid #000;
    }
  }
.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #f5f5f5;
}
.nowrap {
  white-space: nowrap;
}
h3 {
  white-space: nowrap;
}