/* Style de la boîte de recherche */
.search-box {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}/* Style de la boîte de recherche */
.input-border {
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    width: 100%
}

/* Style de l'icône de recherche */
.search-icon {
    color: #ccc;
    margin-right: 5px;
}

/* Style de base pour le champ d'input */
.search-input {
    border: none;
    outline: none;
    flex-grow: 1;
}

/* Modifier la bordure de la boîte de recherche lorsqu'elle est active */
.search-input:focus+.search-box {
    border-color: blue;
}
/* Modifier la bordure de la boîte de recherche lorsqu'elle est active */
.input-border:focus {
    border-color: blue;
}

/* Ou vous pourriez vouloir entourer toute la boîte */
.search-box:focus-within {
    border-color: blue;
}

.custom-dropdown-menu {
    width: 22%;
    max-height: 300px;
    overflow-y: auto;
    /* Ajoute un scroll vertical si nécessaire */
}

/* Suppression de l'espace et réduction de la taille du texte */
.custom-container .custom-item span {
    font-size: 0.8rem;
    /* Réduction de la taille de police */
}

/* Optionnel: Suppression de l'espace autour de <hr>, si nécessaire */
.custom-container .custom-hr {
    margin-top: 0;
    margin-bottom: 0;
}

.item-hover:hover {
    background-color: #f0f0f0;
    /* Une teinte de gris clair */
}
.custom-width {
    width: 230px; /* Ajustez cette valeur selon la largeur désirée */
  }