.label {
  border: 1Px gainsboro solid;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 180px;
  max-width: 180px;
  min-width: 180px;
}
.delete{
  max-width: 180px;
  width: 100%;
  justify-content: center;
  text-align: center;
}
