
.item-condominium {
  background-color: rgb(241, 245, 245);
}
.condominium-pic img{
  display: block;
  height: 350px !important;
  width: auto;
  margin-left:auto;
  margin-right:auto;
}

.badge-top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.badge-top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}