.card-scene {
  padding: 50px;
  /* background-color: #fff; */
}

.card-container{
  width: 320px;
  margin-right: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}


.card {
  margin: 5px;
  /* border: 1px solid #ccc; */
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.card-column-header {
  font-size: 18px;
}

.column-drag-handle {
  cursor: move;
  padding: 5px;
}

.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(5deg)
}

.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg)
}

.task-title {
  &:hover {
      text-decoration: underline;
  }
}

// .opacity-ghost {
//     transition: all .18s ease;
//     opacity: 0.8;
//     cursor: ns-resize;
//     /* transform: rotateZ(5deg); */
//     background-color: cornflowerblue;
//     box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
// }

// .opacity-ghost-drop {
//     opacity: 1;
//     /* transform: rotateZ(0deg); */
//     background-color: white;
//     box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.0);
// }
