<div class="col-sm-12">
  <app-card [hidHeader]="true" cardClass="card-datatable">

    <div *ngIf="responses && responses.length > 0" class="table-responsive">
      <table class="table table-sm table-striped table-bordered nowrap table-hover">
        <thead class="thead-light">
          <tr>
            <th>N°</th>
            <th>Prospect</th>
            <th>Pré réservation</th>
            <th>Statut</th>
            <th>Disponibilité</th>
            <th>Évaluation</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of responses; trackBy: trackByFn">
            <td>{{ item.id }}</td>
            <td>{{ item.prospect }}</td>
            <td>{{ item.reservation }}</td>
            <td>{{ item.statut }}</td>
            <td>{{ item.disponibilite }}</td>
            <td>{{ item.evaluation }}</td>
            <td class="table-action">
             
              <button class="btn btn-icon btn-info ml-1" 
                      (click)="viewResponse(item)" 
                      style="background-color: #d3d3d3; border: none; padding: 10px; border-radius: 50%; width: 40px; height: 40px;" 
                      ngbTooltip="Détails">
                <i class="fas fa-eye" style="font-size: 20px; color: white;"></i>
              </button>

              
              <ng-template ngxPermissionsOnly="RESPONSE:EDIT">
                <button *ngIf="item?.statut !== 'ARCHIVE'" (click)="editResponse(item)" type="button" 
                        class="btn btn-icon btn-primary ml-1" ngbTooltip="Modifier">
                  <i class="feather icon-edit-2"></i>
                </button>
              </ng-template>

          
              <button *ngIf="item?.statut !== 'ARCHIVE'" (click)="deleteResponse(item)" 
                      type="button" class="btn btn-icon btn-danger ml-1" ngbTooltip="Supprimer">
                <i class="feather icon-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
    <app-no-data [title]="'Aucune réponse trouvée'" *ngIf="responses && responses.length === 0"></app-no-data>
    
  </app-card>
</div>
