
.item-condominium {
    background-color: rgb(241, 245, 245);
  }
  agm-map {
    height: 400px;
}
.pac-container {
    z-index: 9999999999 !important;
  }
  ::ng-deep.swal2-container {
    z-index: 10000 !important;
  }