agm-map {
    height: 300px;
}
.pac-container {
    z-index: 9999999999 !important;
  }
  ::ng-deep.swal2-container {
    z-index: 10000 !important;
 }

 .long-text {
  max-width: 150px; /* ou toute autre largeur selon vos besoins */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
