#actif {
  // width  : 50px;
  // height : 20px;
  width: 14px;
  height: 14px;
  margin-top: 4%;
  background : #27ca37;
  border-radius: 100% !important;
  margin-left: 5px;
}
#expire {
  width: 14px;
  height: 14px;
  margin-top: 4%;
  background : #ff7043;
  border-radius: 100% !important;
  margin-left: 5px;
}
#inactif {
  width: 14px;
  height: 14px;
  margin-top: 4%;
  background : #f70d18;
  border-radius: 100% !important;
  margin-left: 5px;
}
#expireD {
  width: 14px;
  height: 14px;
  margin-top: 1%;
  background : #feac31;
  border-radius: 100% !important;
  margin-left: 5px;
}
.fontWeight {
  font-weight: bold;
  margin-left: 6px;
}
