.pages{
    height: 100vh;
    width: 100%;
    background-color: white;
}
.custom-buttom{
    border: none; /* Supprime les bordures */
    border-radius: 50px; 
    height: 50px; 
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex; 
    font-size: 1rem; /* Taille de la police, ajustez selon vos besoins */
    cursor: pointer; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-button:hover {
    transform: scale(1.05); /* Agrandit légèrement le bouton au survol */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une ombre au survol */
}

.custom-button:active {
    transform: scale(0.95); /* Réduit légèrement le bouton au clic */
    animation: dance 0.5s; /* Animation de "danse" au clic */
}

/* Animation de danse */
@keyframes dance {
    0% { transform: scale(0.95); }
    25% { transform: scale(1.05) rotate(-5deg); }
    50% { transform: scale(0.95) rotate(5deg); }
    75% { transform: scale(1.05) rotate(-5deg); }
    100% { transform: scale(0.95); }
}
