<div class="pages">
    <div class="bg-primary p-2" style="height: 12%; width: 100%" >
        <div  class="d-flex flex-column text-center align-items-center justify-content-center" style="height: 100%;">
            <img id="main-logo" src="assets/images/logo.png" alt="" class="logo">
            <h6 class="text-white">ZENAPI - Systeme de Gestion immobilière</h6>
        </div>
    </div>
    <div style="background-color: #eef5ff; height: 88%; width: 100%" >
        <div class="p-2" style="height: 60%; width: 100%" class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-center">
                    <div style="font-size: 1.5rem; font-weight: bold;"> LICKA IMMOBILIER </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div class="text-muted"><i class="feather icon-mail mr-2 f-18"></i> lickaimmobilier@gail.com </div>
                    <div class="text-muted"><i class="feather icon-phone mr-2 f-18"></i> (+225) 09 09090909 </div>
                </div> 
                <div class="d-flex justify-content-center align-items-center p-4">
                    <p>
                        Découvrez une nouvelle façon de trouver la maison de vos rêves ! <b>LICKA IMMOBILIER</b>, 
                        nous vous offrons plus qu'une simple propriété – nous vous aidons à trouver un lieu où 
                        vous vous sentirez chez vous. Que vous soyez à la recherche d'un appartement moderne, 
                        d'une villa luxueuse, ou d'une maison familiale chaleureuse, nous avons l'offre parfaite pour vous.
                    </p>
                </div>
            </div> 
        </div>

        <div class="p-2" style="height: 35%; width: 100%">
            <div  class="d-flex flex-column text-center align-items-center justify-content-center" style="height: 100%;">
                <div (click)="onTicket()" class="custom-buttom bg-primary mb-2"> <span class="text-white">Faire une requête </span> </div>
                <div (click)="onInfo()" class="custom-buttom bg-danger"> <span class="text-white">Plus d'information</span> </div>
            </div>
        </div>
        <div class="p-2" style="height: 5%; width: 100%" >
            <div  class="d-flex flex-column text-center align-items-center justify-content-center" style="height: 100%;">
                <p class="text-black">2024 Tous les droits sont réservés  - Designed by <a href="https://zenapi.net/">ZenAPI</a></p>
            </div>
        </div>
    </div>
</div>