<div class="col-sm-12">
  <app-card [hidHeader]="true" cardClass="card-datatable">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onConfirme()">
      <div *ngIf="validate && dataSelected.length>0" class="btn-rental float-right mb-2">
        <button (click)="onConfirme()"  type="submit" class="btn btn-success m-1">
          Valider <i class="feather icon-check-square"></i>
        </button>
      </div>
    <div class="table-responsive">
      <table *ngIf="etat" datatable [dtOptions]="dtOptions" id="report-table" class="table table-sm table-striped table-bordered nowrap table-hover">
        <thead class="thead-light">
          <tr>
            <th>
              <div class="form-group">
                <div class="form-check">
                  <input id="selectAll" class="form-check-input" formControlName="valueOne" type="checkbox" id="checkAll"
                  (change)="onCheckAll($event)">
                </div>
              </div>
            </th> 
            <th *ngIf="client">Client</th>
            <th>Dossier</th>
            <th>Etat</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Montant agence</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of terminates ; let i = index">
            <td>
              <div class="form-group">
                <div class="form-check">
                  <input formControlName="checked" class="form-check-input"  type="checkbox" id="check{{i}}"
                  (change)="onCheckItem(item)">
                </div>
              </div>
            </td> 
            <td *ngIf="client">
              <p class="m-0 d-inline-block align-middle font-16">
                <span class="text-primary">{{item?.folder?.customer?.searchableTitle}}</span> <br />
                Type : {{item?.folder?.customer?.type}}<br />
                Téléphone : {{item?.folder?.customer?.telephone}}
              </p>
            </td>
            <td>
              <p class="m-0 d-inline-block align-middle font-16">
                <span class="badge" [ngClass]="{
                'badge-danger' : item?.folder?.etat === 'RESILIE',
                'badge-success' : item?.folder?.etat === 'ACTIF',
                'badge-warning' : item?.folder?.etat === 'INACTIF'
                }">{{item?.folder?.etat}}</span>
              </p>
            </td>
            <td>
              <span class="badge" [ngClass]="{
              'badge-success' : item?.etat === 'VALIDE',
              'badge-danger' : item?.etat === 'INVALIDE'
              }">{{validation(item?.etat)}}</span>
            </td>
            <td>{{item?.date|date: "d MMMM y" : '' : 'fr-FR'}}</td>
            <td>
              <span class="text-primary">{{item?.montant|number}} {{global.device}}</span>
            </td>
            <td>
              <span class="text-primary">{{item?.montantAgence|number}} {{global.device}}</span>
            </td>
            <td class="table-action">
              <div class="overlay-edit">
                <button (click)="showTerminate(item)" type="button" class="btn btn-icon btn-secondary"
                  ngbTooltip="Détails">
                  <i class="fas fa-eye"></i>
                </button>
                <ng-template ngxPermissionsOnly="FOLDER:TERMINATE:EDIT">
                  <button *ngIf="item?.etat === 'INVALIDE'" (click)="editTerminate(item)" type="button" class="btn btn-icon btn-primary ml-1"
                    ngbTooltip="Modifier">
                    <i class="feather icon-edit-2"></i>
                  </button>
                </ng-template>
                <ng-template ngxPermissionsOnly="FOLDER:TERMINATE:VALIDATE">
                  <button *ngIf="item?.etat === 'INVALIDE'" (click)="validateTerminate(item)" type="button"
                    class="btn btn-icon ml-1 btn-success" ngbTooltip="Valider">
                    <i class="fas fa-check"></i>
                  </button>
                </ng-template>
                <ng-template ngxPermissionsOnly="FOLDER:TERMINATE:PRINTER:LIST">
                  <button *ngIf="item?.etat === 'VALIDE'" (click)="printerTerminate(item)" type="button" class="btn btn-icon btn-warning ml-1"
                    ngbTooltip="Imprimer">
                    <i class="feather icon-printer"></i>
                  </button>
                </ng-template>
                <ng-template ngxPermissionsOnly="FOLDER:TERMINATE:DELETE">
                  <button *ngIf="item?.etat === 'INVALIDE'" type="button" (click)="delete(item)" class="btn btn-icon btn-danger ml-1" ngbTooltip="Supprimer">
                    <i class="feather icon-trash"></i>
                  </button>
                </ng-template>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td [attr.colspan]="client ? '5' : '4'" class="font-weight-bold font-size-40 text-right">TOTAL</td>
            <td class="font-weight-bold font-size-40 text-warning"> {{total | number}} {{global.device}}</td>
            <td class="font-weight-bold font-size-40 text-warning"> {{totalA | number}} {{global.device}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </form>
  </app-card>
</div>
