.card-img{
    width: 100%;
    height: 180px;
    max-width: 180px;
    min-width: 180px;
    border: 1px gainsboro solid;
    border-radius: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img-top{
    object-fit: cover;
    width: 100%;
    height: 180px;
    max-width: 180px;
    min-width: 180px;
}