.user-image{
  object-fit: cover;
}
::ng-deep .full-screen .modal-dialog { 
  max-width: 87%  !important;
  width: 87% !important;  
  overflow: hidden !important;
}
::ng-deep.swal2-container {
  z-index: 10000 !important;
}