
  .item-condominium {
    background-color: rgb(241, 245, 245);
}

.container-contain {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    // box-shadow: 0 10px 50px 0 rgb(0 0 0 / 10%);
}