
  .item-condominium {
    background-color: rgb(241, 245, 245);
}
.text-montant-paye {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.input-montant-paye{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(4, 146, 248);
    box-shadow: 3px;
    background-color: rgb(241, 245, 245);
}
.input-montant-pay{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(4, 146, 248);
    box-shadow: 3px;
    background-color: rgb(241, 245, 245);
}