<div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
        (click)="modal.close('ferme')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form autocomplete="off" [formGroup]="form" (ngSubmit)="onConfirme()">
    <div class="modal-body">
        <div class="col-md-12">
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label for="country">Pays <span class="asterix">*</span></label>
                        <app-entity-finder [class]="'Country'" [groups]="['country']" [required]="true"
                            [namespace]="'Extra'" (uuid)="setCountryUuid($event)" [selected]="selected"
                            [placeholder]="'Selectionez un pays'">
                        </app-entity-finder>
                    </div>
                    <div class="col-md-6">
                        <label for="city">Ville <span class="asterix">*</span></label>
                        <select formControlName="city" (change)="onSelectCity($event)" class="form-control" id="city" type=text [ngClass]="{
                                'is-invalid': submit && f.city.errors,
                                'is-valid': submit && f.city .valid
                              }">
                            <option [value]="null">Selectionez un ville</option>
                            <option *ngFor="let item of cities" [value]="item.uuid">{{item.libelle}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="submit && f.city.errors">
                            <div *ngIf="f.city.errors.required">{{required.novide}}</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="common">Commune <span class="asterix">*</span></label>
                        <select formControlName="common" class="form-control" id="common" type=text [ngClass]="{
                                'is-invalid': submit && f.common.errors,
                                'is-valid': submit && f.common.valid
                              }">
                            <option [value]="null">Selectionez une commune</option>
                            <option *ngFor="let item of commons" [value]="item.uuid">{{item.libelle}}</option>
                        </select>
                        <div class="invalid-feedback" *ngIf="submit && f.common.errors">
                            <div *ngIf="f.common.errors.required">{{required.novide}}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="libelle">Quartier<span class="asterix">*</span></label>
                        <input formControlName="libelle" class="form-control" id="libelle" [ngClass]="{
                                'is-invalid': submit && f.libelle.errors, 
                                'is-valid': submit && f.libelle.valid
                                }" [placeholder]="'Quartier'">
                        <div class="invalid-feedback" *ngIf="submit && f.libelle.errors">
                            <div *ngIf="f.libelle.errors.required">{{required.novide}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="modal.close('ferme')" type="button" class="btn btn-secondary text-left" data-dismiss="modal">
            Fermer <i class="feather icon-x-circle"></i>
        </button>
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary">
            Enregistrer <i class="feather icon-save"></i>
        </button>
    </div>
</form>